.logo{

    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url("../../assets/images/logo.PNG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}